---
const links = [
    { name: "Listado", href: "/" },
    { name: "Favoritos", href: "/favorites" },
    { name: "Paginado", href: "/pokemons/1" },
];

const currentPath = Astro.url.pathname;
---

<!-- component -->
<nav class="shadowbg-slade-900">
    <div
        class="container flex items-center justify-center p-6 mx-auto text-gray-600 capitalize dark:text-gray-300"
    >
        <!-- {
            links.map(({ name, href }) => (
                <a
                    href={href}
                    class:list={[
                        "text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6",
                        {
                            "border-b-2 border-blue-500": currentPath === href,
                        },
                    ]}
                >
                    {name}
                </a>
            ))
        } -->
        {
            links.map(({ name, href }) => (
                <div>
                    <a
                        href={href}
                        class="text-gray-800 dark:text-gray-200  mx-1.5 sm:mx-6"
                    >
                        {name}
                    </a>
                    {currentPath === href ? (
                        <div
                            transition:name="menu-line"
                            class="border-b-2 border-blue-500 mx-4"
                        />
                        ) : ( 
                            <div class="border-b-2 border-transparent mx-4"/>
                    )}
                    {/* <div class="border-b-2 border-blue-500 mx-4"/> */}
                </div>
            ))
        }
    </div>
</nav>
