---
//codigo server side only - momento de construccion
import PokemonCard from "../components/PokemonCard.astro";
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";

import Layout from "../layouts/Layout.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = (await resp.json()) as PokemonListResponse;

const title = "Pokémon Static | Home";
---

<Layout title={title}>
    <h1 class="text-4xl font-bold ml-4">Listado de Pokémons</h1>
    <hr />
    <ul>
        <section
            aria-label="Listado de Pokémons"
            class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-5 gap-4 mt-2"
        >
            {
                data.results.map(({ name, url }) => (
                    <PokemonCard name={name} url={url} />
                ))
            }
        </section>
    </ul>
</Layout>
